.font-1-xll {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 1.125;
}
.font-2-l {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .font-1-xll {
    font-size: 48px;
  }
  .font-2-l {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .font-1-xll {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .font-2-l {
    font-size: 18px;
  }
}
